VITE_API_BASE_URL=http://localhost:5000/api
VITE_SIGNALR_HUB_URL=http://localhost:5000/documentHub
VITE_ONLYOFFICE_DOCUMENT_SERVER_URL=http://localhost/

VITE_MSAL_CLIENT_ID=12dd1eb5-32c5-488d-82f3-fbdcefd7ad19
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/7eb749a1-a2ec-4260-bb87-c77c7a0a0b7a
VITE_MSAL_REDIRECT_URI=http://localhost:3000
VITE_MSAL_SCOPES=User.Read
